* {
  margin: 0;
  padding: 0;
}
h1 {
  position: relative;
  width: 500px;
}
p {
  position: relative; 
 width: 500px;
    
}
  img {
    position: relative;
    top: -250px;
    left: 510px;   
  }
  
